.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  border: 1px solid #fff;
}

.fighter-preview___right {
  align-items: flex-end;
}
.fighter-preview___right .fighter-preview___img{
  transform: rotateY(180deg);
}

.wrap-fighter-info{
  align-self: center;
}

.fighter-info{
  color: #fff;
}

.fighter-name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.fighter-preview___left {
  align-items: flex-start;
}
